@import "bourbon";
@import "font-awesome";

body {
  width: 100%;
  background: #e2ebf3;
}

h1 {
  text-align: center;
  background-color: #fff;
  font-size: 80px;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-top: 0;
}

div.splashPage {
  width: 100%;
}

.characters {
  width: 95%;
  margin: 0;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

img {
  width: 25%;
  height: 25%;
  padding: 3%;
}

.Opponent {
  margin: 0;
  margin-top: 2.5%;
  font-size: 70px;
  color: #D42E75;
  padding: 0;
  width: 10%;
  float: left;
  text-align: center;
}

div.goodGuys {
  text-align: center;
  width: 40%;
  float: left;
}
ul p {
  text-decoration: none;
  margin: 0;
  padding-top: 0;
  float: left;
  height: 20%;
  width: 25%;
  padding: 3%;
}

div.badGuys {
  text-align: center;
  margin: 0;
  width: 40%;
  float: left;
}

.startButton {
  font-size: 30px;
  width: 25%;
  height: 20%;
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 37.5%;
  margin-right: 37.5%;
  text-align: center;
}

.fightPage {
  background-color: #3D3D3A;
  height: 800px;
}

.theArena {
  width: 95%;
  margin: 0;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.goodGuyHere {
  margin: 0;
  width: 40%;
  float: left;
  background-color: #fff;
}

.fightAction {
  margin: 0;
  margin-top: 2.5%;
  font-size: 70px;
  padding: 0;
  width: 10%;
  float: left;
  background-color: #D42E75;
  text-align: center;

}

.badGuyHere {
  margin: 0;
  width: 40%;
  float: left;
  background-color: #fff;
}



